<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="34"/>
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true"/>
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE "/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <queries>
        <package android:name="com.tencent.mm"/>
        <package android:name="com.eg.android.AlipayGphone"/>
        <package android:name="com.tencent.android.qqdownloader"/>
        <package android:name="com.unionpay"/>
        <package android:name="com.unionpay.tsmservice.mi"/>
        <package android:name="com.huawei.wallet"/>
        <package android:name="com.unionpay.tsmservice"/>
        <package android:name="com.pingan.paces.ccms"/>
        <package android:name="com.chinamworld.main"/>
        <package android:name="com.ccb.longjiLife"/>
        <package android:name="com.ecitic.bank.mobile"/>
        <package android:name="com.citiccard.mobilebank"/>
        <package android:name="com.cebbank.mobile.cemb"/>
        <package android:name="com.ebank.creditcard"/>
        <package android:name="cn.com.cmbc.newmbank"/>
        <package android:name="com.cmbc.cc.mbank"/>
        <package android:name="cn.com.spdb.mobilebank.per"/>
        <package android:name="com.spdbccc.app"/>
        <package android:name="com.bankcomm.Bankcomm"/>
        <package android:name="com.bankcomm.maidanba"/>
        <package android:name="cmb.pb"/>
        <package android:name="com.cmbchina.ccd.pluto.cmbActivity"/>
        <package android:name="cn.com.shbank.mper"/>
        <package android:name="cn.com.shbank.pension"/>
        <package android:name="com.bankofbeijing.mobilebanking"/>
        <package android:name="com.csii.bj.ui"/>
        <package android:name="com.icbc"/>
        <package android:name="com.icbc.elife"/>
        <package android:name="com.android.bankabc"/>
        <package android:name="com.abchina.ebizbtob"/>
        <package android:name="com.yitong.mbank.psbc"/>
        <package android:name="com.yitong.mbank.psbc.creditcard"/>
        <package android:name="com.chinamworld.bocmbci"/>
        <package android:name="com.forms"/>
        <package android:name="com.cgbchina.xpt"/>
        <package android:name="com.cs_credit_bank"/>
        <package android:name="com.cib.cibmb"/>
        <package android:name="com.cib.xyk"/>
        <package android:name="com.hxb.mobile.client"/>
        <package android:name="com.HuaXiaBank.HuaCard"/>
        <package android:name="cn.com.lzb.mobilebank.per"/>
        <intent>
            <action android:name="android.provider.action.PICK_IMAGES"/>
        </intent>
        <intent>
            <action android:name="com.getui.sdk.action"/>
        </intent>
        <package android:name="com.ss.android.ugc.aweme"/>
        <package android:name="com.ss.android.ugc.aweme.lite"/>
        <package android:name="com.ss.android.article.news"/>
        <package android:name="com.ss.android.article.lite"/>
        <package android:name="com.dragon.read"/>
        <intent>
            <action android:name="*"/>
            <data android:scheme="tbopen"/>
        </intent>
        <package android:name="com.eg.android.AlipayGphoneRC"/>
        <package android:name="hk.alipay.wallet"/>
        <package android:name="hk.alipay.walletRC"/>
        <package android:name="com.android.creator"/>
        <package android:name="com.zhuoyi.security.lite"/>
        <package android:name="com.freeme.secureguard"/>
        <package android:name="com.android.secureguard"/>
        <package android:name="com.mdid.msa"/>
        <package android:name="com.samsung.android.deviceidservice"/>
        <package android:name="com.coolpad.deviceidsupport"/>
        <package android:name="com.heytap.openid"/>
        <package android:name="com.qiku.id"/>
        <package android:name="com.huawei.multimedia.audioengine"/>
        <package android:name="com.hihonor.android.magicx.media.audioengine"/>
        <package android:name="com.oplus.karaoke"/>
        <package android:name="com.coloros.karaoke"/>
        <package android:name="com.coloros.ocs.opencapabilityservice"/>
        <package android:name="com.oplus.ocs"/>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice"/>
        </intent>
        <intent>
            <action android:name="com.huawei.hms.core"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <permission
        android:name="getui.permission.GetuiService.com.zhenai2.android"
        android:protectionLevel="normal"/>
    <uses-permission android:name="getui.permission.GetuiService.com.zhenai2.android"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE"/>
    <uses-permission android:name="com.heytap.mcs.permission.RECIEVE_MCS_MESSAGE"/>
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"/>
    <uses-permission android:name="com.asus.msa.SupplementaryDID.ACCESS"/>
    <uses-permission android:name="freemme.permission.msa"/>
    <uses-permission android:name="freemme.permission.msa.SECURITY_ACCESS"/>
    <uses-permission android:name="oplus.permission.settings.LAUNCH_FOR_EXPORT"/>
    <uses-permission android:name="com.vivo.identifier.permission.OAID_STATE_DIALOG"/>
    <uses-permission android:name="com.nemu.oaid.permission.read"/>
    <uses-permission android:name="com.nemu.oaid.permission.write"/>
    <permission
        android:name="com.zhenai2.android.gdt.qq.SEND_PERMISSION"
        android:protectionLevel="signature"/>
    <permission
        android:name="com.zhenai2.android.gdt.qq.RECEIVE_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.zhenai2.android.gdt.qq.SEND_PERMISSION"/>
    <uses-permission android:name="com.zhenai2.android.gdt.qq.RECEIVE_PERMISSION"/>
    <uses-permission android:name="com.oplus.ocs.permission.third"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="com.vivo.notification.permission.BADGE_ICON"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <permission
        android:name="com.zhenai2.android.permission.PROCESS_PUSH_MSG"
        android:protectionLevel="signature"/>
    <permission
        android:name="com.zhenai2.android.permission.PUSH_PROVIDER"
        android:protectionLevel="signature"/>
    <permission
        android:name="com.zhenai2.android.permission.PUSH_WRITE_PROVIDER"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.zhenai2.android.permission.PROCESS_PUSH_MSG"/>
    <uses-permission android:name="com.zhenai2.android.permission.PUSH_PROVIDER"/>
    <permission
        android:name="com.zhenai2.android.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.zhenai2.android.permission.MIPUSH_RECEIVE"/>
    <uses-permission android:name="com.hihonor.push.permission.READ_PUSH_NOTIFICATION_INFO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
    <uses-permission android:name="com.meizu.flyme.permission.PUSH"/>
    
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.zhenai2.android.App"
        android:allowBackup="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/http_network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:appComponentFactory">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <activity
            android:theme="@style/AppTheme.ThemeSplash"
            android:name="com.zhenai2.android.ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="zhenaiapp"
                    android:host="platformapi"
                    android:pathPrefix="/startApp"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="zhenaiwang"
                    android:host="platformapi"
                    android:pathPrefix="/startApp"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="s.zhenai.com"/>
                <data android:pathPrefix="/a"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.zhenai2.android.ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|locale"
            android:resizeableActivity="true"/>
        <activity
            android:name="com.zhenai2.login.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|locale"
            android:exported="false"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.zhenai2.android.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>
